<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h2>Thank you for your order!</h2>
    <% @order.line_items.each do |i| %>
      <%= render 'line_items', i: i %>
    <% end %>
    <p>Total: <%= Money.us_dollar(@order.total_cents).format %> </p>
    <p>Email: <%= @order.email %> </p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
